.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 200px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

body, html {
  background-color: #031927;
  width: 100%;
  margin: 0;
  color: white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.card {
  background-color: transparent;
  position: relative;
  margin: .5rem 0 1rem 0;
  transition: box-shadow .25s;
  border-radius: 2px;
  float: left;
  width: 50%;
  height: 50%;
}

.card:nth-child(1+4n)::before {
  content: '';
  clear: left;
}

.search-bar {
  margin: 20px;
  text-align: center;
}

.form-inline {
  /*margin-top: 100px;*/
  width: 40%;
  margin: 10% auto;
}

.card-container {
  margin-top: 20%;
}

#Image {
  width: 120px !important;
  height: 120px !important;
}

card .card-content {
  border-radius: 0 0 2px 2px;
  height: 100px;
  padding-top: 20px;
}

#artistCardTrackName {
  font-size: small;
}

.card-inner {
  margin-right: 5px;
  background-color: #070707;
}

div#mp3_player {
  width: 500px;
  height: 60px;
  background: #000;
  padding: 5px;
  margin: 50px auto;
}

div#mp3_player>div>audio {
  width: 500px;
  background: #000;
  float: left;
}

div#mp3_player>canvas {
  width: 500px;
  height: 30px;
  background: #002D3C;
  float: left;
}
